<!-- Common Header Elements -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{relative_path}assets/css/style.css">
<link rel="stylesheet" href="{relative_path}assets/css/page-styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="icon" href="{relative_path}assets/images/scissor-lift-favicon.png" type="image/png">
<link rel="shortcut icon" href="{relative_path}assets/images/scissor-lift-favicon.png" type="image/png">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MLHRR9XW0J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MLHRR9XW0J');
</script>

<!-- Additional meta tags can be added here --> 